body{
margin:0;
font-family:Arial;
background:black;
color:white;
}

header{

position:sticky;
top:0;
background:black;

display:flex;
justify-content:space-between;
align-items:center;

padding:15px;

border-bottom:2px solid gold;

z-index:999;

}

.logo{

font-size:22px;
color:gold;
font-weight:bold;

}

.aviso{

text-align:center;
padding:15px;
background:#111;
border-bottom:1px solid gold;

}

.grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;

padding:30px;

}

.card{

background:#111;
padding:30px;

border:1px solid gold;

text-align:center;

cursor:pointer;

transition:0.3s;

}

.card:hover{

background:gold;
color:black;

}

.camisa{

background:#111;
border:1px solid gold;
padding:20px;
text-align:center;

}

.camisa img{

width:100%;
height:260px;

object-fit:contain;

background:white;

border-radius:6px;

margin-bottom:10px;

}

button{

background:gold;

border:none;

padding:10px 15px;

cursor:pointer;

margin-top:10px;

}

.carrinho{

position:fixed;

right:-350px;

top:0;

height:100%;

width:300px;

background:#111;

padding:20px;

transition:0.4s;

border-left:2px solid gold;

}

.carrinho.ativo{

right:0;

}